@media (max-width:400px) {
    .contact-container-1 {
        height: 300px;
        background-size: cover;
        background-position: -400px -200px;
        background-attachment: fixed;
    }

    .contact-h1 {
        font-size: 25px;
        padding: 200px 0px 0px 30px;
    }

    .contact-container-2 {
        grid-template-columns: 1fr;
        margin: 0px 0px;    
    }

    .contact-h2 {
        font-size: 25px;
        margin-top: 70px;
        text-align: center;
    }

    .contact-div {
        margin: 50px 0 0 30px;
    }

    .whats {
        font-size: 25px;
        display: inline-block;
        margin-left: 0px;
    }

    .contact-p2 {
        font-size: 20px;
    }

    .contact {
        margin-top: 25px;
        margin-left: 25px;
    }

    .contact-form label {
        margin: 30px 10px 5px 10px;
    }

    .input-1 {
        margin: 0px 10px;
        width: 95%;
    }

    .contact-button {
        min-width: 150px;
        margin-left: 115px
    }
}

@media (min-width: 401px) and (max-width: 844px) {
    .contact-container-1 {
        height: 300px;
        background-position: center;
    }

    .contact-h1 {
        font-size: 35px;
        padding: 200px 0 0px 60px;
    }

    .contact-container-2 {
        margin: 120px 40px;
    }

    .whats {
        height: 30px;
        margin-left: 0px;
    }

    .whats {
        font-size: 25px;
        display: inline-block;
        margin-left: 0px;
    }

    .contact-h2 {
        font-size: 25px;
    }
}

@media (min-width: 768px) and (max-width: 843px) {
    .contact-container-1 {
        height: 300px;
        background-position: -250px -270px;
    }

    .contact-h1 {
        font-size: 35px;
        padding: 200px 0 0px 60px;
    }

    .whats {
        height: 30px;
        margin-left: 0px;
    }

    .whats {
        font-size: 25px;
        display: inline-block;
        margin-left: 0px;
    }

    .contact-h2 {
        font-size: 23px;
    }

    .contact-p2 {
        font-size: 20px;
    }

    .contact-container-2 {
        margin: 120px 40px 50px 40px;
    }

}

@media (min-width: 1024px) and (max-width: 1369px) {
    .contact-container-1 {
        height: 300px;
        background-position: 0px -200px;
    }

    .contact-h1 {
        font-size: 35px;
        padding: 200px 0 0px 60px;
    }

    .whats {
        height: 30px;
        margin-left: 0px;
    }

    .whats {
        font-size: 30px;
        margin-left: 0px;
    }

    .contact-h2 {
        font-size: 28px;
    }

    .contact-p2 {
        font-size: 25px;
    }

    .contact-container-2 {
        margin: 120px 60px 50px 60px;
    }

}