@media (max-width: 400px) {
    .sectionOne {
        flex-direction: column;
        justify-content: space-around;
    }

    .animation {
        font-size: 45px;
    }

    .btn-s1 {
        margin-top: 30px;
    }
}

@media (max-width: 844px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 390px) {
}
