/* Sectio One Home */

.sectionOne {
    background: linear-gradient(
      rgba(8, 8, 8, 0.631),rgba(52, 58, 190, 0.3)
    ), url("../../assets/home1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
}

.animation {
    color: white;
    font-size: 100px;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    padding-left: 100px ;
    animation: moveToLeft 5s linear infinite;
    font-family: "Nunito", Sans-serif;
}

@keyframes moveToLeft {
    0% {
        transform: translateX(-1200px);

    }
    50% {
        transform: translateX(0px);
        transition: 2s;
        
    }
}

.btn-s1 {
    margin-left: 70px;
    margin-top: 500px;
    border: solid 3px #764ebe;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3;
    font-family: Nunito, sans-serif;
    min-width: 200px;
    letter-spacing: 0.06em;
    padding: 16px 19px;
    border-radius: 5px;
    color: #fff;
    background-color: #764ebe;
    text-decoration: none;
}

.btn-s1:hover {
    background-color: #fff;
    border: solid 3px #764ebe;
    color: #764ebe;
}

.dark-image::before {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* Sectio Two Home */

.sectionTwo {
    background-size: contain;
    background-position: center;
    background: transparent;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-top: 130px;
    font-family: "Nunito", Sans-serif;;
    margin-top: 70px;
    
}

.h2-s2 {
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
    font-family: "Nunito", Sans-serif;
    color: #5a5f70;
}

.icon-home-minus {
    height: 90px;
    color: #66d7d1;
    margin-top: -10px;
}


.element-container {
    padding: 50px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 150px;
    align-items: center;
}

.element-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.element {
    padding: 50px;
    width: 350px;
    height: 400px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.493);
    border-radius: 15px;
    background: white;
}

.element:hover {
    scale: 1.1;
    transition: 1.5s;
}

.icon-home {
    font-size: 70px;
    padding: 20px;
    color: #764ebe;
}

.element-inside h2 {
    font-weight: 900;
    color: #5a5f70;
}

.element-inside p {
    margin-top: 40px; 
    font-size: 20px; 
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.625;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0em;
    text-align: center;
    color: #777777;

}

.btn-s2 {
    margin-bottom: 100px;
    border: solid 3px #79d5ca;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3;
    font-family: Nunito, sans-serif;
    background-color: transparent;
    min-width: 200px;
    letter-spacing: 0.06em;
    padding: 16px 19px;
    border-radius: 5px;
    color: #fff;
    background-color: #79d5ca;
}

.btn-s2:hover {
    background-color: transparent;
    border: solid 3px #79d5ca;
    color: #79d5ca;

}

/* Section Three Home */
.sectionThree {
    background-size: cover;
    background-position: center;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 690px;
}

.container-map {
    display: grid;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    background-color: #f4f6fa;

}

.img {
    background-image: url("../../assets/servicos1.jpg");
    background-size: cover;
    width: 100%;
    height: 600px;
}

.info {
    padding: 150px 50px 200px 100px;
    text-align: left;
}

.info-h2 {
    font-size: 40px;
    font-weight: 900;
    color: #5a5f70;
}

.info-p {
    color: rgba(0, 0, 0, 0.8);
    margin-top: 10px;
    font-size: 20px;
}

.btn-info {
    border: solid 3px #764ebe;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3;
    font-family: Nunito, sans-serif;
    background-color: transparent;
    min-width: 200px;
    letter-spacing: 0.06em;
    padding: 16px 19px;
    border-radius: 5px;
    color: #fff;
    background-color: #764ebe;
}

.btn-info:hover {
    background-color: transparent;
    border: solid 3px #764ebe;
    color: #764ebe;
}

.icon-home-section-three {
    height: 80px;
    color: #66d7d1;
    margin-top: -10px;
}

.sectionFour {
    margin: 0px 400px;  
    height: 600px;
}

.background {
    background-image: url("../../assets/detalhe4.svg");
    background-size: cover;
    background-position: 0 -280px;
    background-repeat: no-repeat;
}


.sectionFour h2{
    font-size: 40px;
    font-weight: 800;
    padding-top: 150px;
    font-family: "Nunito", Sans-serif;
    color: #5a5f70;
}


.comment {
    font-weight: 600;
    font-family: "Nunito", Sans-serif;
    color: #1d1f45;
    margin-bottom: 30px;
}

.name-p {
    color: #5a5f70;
    font-weight: 600;
}

.section-four-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    max-width: 1200px;
    align-content: center;
    gap: 50px;
    margin-top: 50px;
    margin-left: 40px;
}

.img-section-four {
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0 24px 40px -16px rgba(0,0,0,.4);
    width: 80px;
    margin-bottom: 20px;
    
}

.detalhe2 {
    display: block;
    width: 400px;
    margin-left: 1300px;
    margin-top: -100px;
}

.back {
    background-image: url("../../assets/detalhe5.svg");
    background-size: cover;
    background-position: -700px 0;
}



