.sectionOne {
    background-image: url("../../assets/home1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 120px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}
