@media (min-width: 320px) and (max-width: 575px) {
    .dados {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        margin-top: 30rem;
    }

    .footer_dados {
        flex-direction: column;
    }
}

@media (min-width: 576px) and (max-width: 1023px) {
    .dados {
        height: 150px;
        padding: 10px;
        width: 100%;
        margin-bottom: 2rem;
    }

    .footer_dados {
        margin: 10px 70px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .grid {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        font-size: 15px;
        padding: 5px;
        gap: 1rem;
    }

    .h3 {
        display: none;
    }

    .icon-footer {
        height: 30px !important;
        padding-top: 0px !important;
    }

    .p-add {
        font-size: 15px;
    }
}

@media (min-width: 1024px) and (max-width: 1369px) {
    .dados {
        height: 30rem;
    }

    .footer_content {
        margin-left: 0px;
    }

    .footer_dados {
        margin: 10px 70px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .grid {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        font-size: 20px;
        padding: 5px;
        gap: 1rem;
    }

    .h3 {
        display: none;
    }

    .icon-footer {
        height: 35px !important;
        padding-top: 0px !important;
    }

    .p-add {
        font-size: 20px;
    }
}
