.active {
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-01);
    top: 0;
    width: 100vw;
}

nav ul {
    display: flex;
    margin-bottom: 0;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: var(--secondary-color);
    padding: 0.5rem;
    margin: 0 0.5rem;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.7;
    text-transform: uppercase;
}

nav ul li a:not(.active):hover {
    color: var(--color-02); 
}

.menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.menu-span {
    height: 0.4rem;
    width: 100%;
    background-color: var(--color-02);
    border-radius: 0.2rem;
}

.logotype {
    width: 120px;
    scale: 1.8;
    margin-left: 80px;
}

@media (max-width: 768px) {
    nav .menu {
        display: flex;
        flex-direction: column;
        margin: 30px 15px 0 0;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}
