.nav-bar {
    width: 100%;
    height: 80px;
    padding-left: 20px;
    background-color: #fdfffc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 4;
}

.links {
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.links a {
    text-decoration: none;
    font-weight: bold;
    color: #3c096c;
    margin-left: 20px;
    font-size: 35px;
}

.projetos:hover {
    color: red;
    transition: 0.2s;
    padding-top: 20px;
}

.fahouse {
    color: #3c096c;
}