
:root {
    --color-01: #fff;
    --color-02: #000;
    --main-color: #764ebe;
    --color-h2: #5a5f70;
    --p-color: #777777;
    --background: #f4f6fa;
    --color-details: #5a189a;
    --secondary-color: #66d7d1;
}
